{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="no-scroll-right">

    <!-- For mobile version -->
    {% include 'home/includes/mobile-index.html' %}

    <!-- For large screen -->
    <div class="d-none d-lg-block">

    <!-- ------------------- Intro part part index -->
        <div class="part-intro">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-9 my-auto">
                        <h1 class="display-4 logo-font">
                            Enjoy fresh coffee!
                        </h1>
                        <div class="my-5">
                            <h4>
                                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- arrow down -->
            <div class="arrow-container">
                <div class="arrow-down"></div>
            </div>

        </div>  

    <div class="part-products">
        <div class="pl-5">
            <div class="row h-100">
                <div class="col-12 my-auto">
                    <h1 class="display-4 logo-font text-green pt-5">
                        Coffee inspired by NATURE
                    </h1>
                </div>
            </div>
        </div>

        <!-- coffee pot -->
        <div class="coffe-pot"> 
            <img class="coffee-liquide" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1644245722/coffee-animation/cafe-straight_xbac6c.png" alt="liquid coffee in bean for animation">      
            <img class="empty-pot" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1644245650/coffee-animation/cafetiere-vide_vmywms.png" alt="coffee bean carafe for animation">  
    
        </div>

        <!-- ------------------- products pictures  -->
        <div class="xl-container-index pt-3">
            <div class="row no-gutters text-center">
                {% for product in four_random_products %}
                    <div class="col-lg-3 p-1 xl-p-3" >
                        <div class="card  border-0 m-1">
                            {% if product.image_url %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                            </a>

                            {% elif product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>                            

                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1643999538/media/noimage_een4vo.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }} / kg</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="pl-5 pb-5 more-products">
            <h2 class="text-green pt-5 font-weight-light">More products in our
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase my-auto">Shop</a>
            </h2>

            <!-- coffee cup -->
            <div class="coffe-cup"> 
                <img class="cup" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1644245483/coffee-animation/tasse_egbv3y.png" alt="cup of coffee in beans">      
                <img class="smoke" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1644245795/coffee-animation/smoke_d0w3io.png" alt="coffee cup smoke">  
            </div>
        </div>
    </div>
    
        <div class="part-about-our-coffee">
            <div id="about-our-coffee"></div>
            <div class="pl-5">
                <div class="row h-100">
                    <div class="col-7 my-auto">
                        <h1 class="display-4 logo-font pt-5">
                            From Responsible farmers
                        </h1>
                    </div>
                </div>
            </div>
            <div class="xl-container-index pt-3">
                <div class="row no-gutters text-center">
                        <div class="col-lg-3 p-1 xl-p-3" >
                            <div class="card  border-0 m-1">
                                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691221/static/images/coffee-fresh-hands2.ba928a816b0a.jpg" alt="2 hands holding fresh coffee beans">

                            </div>
                        </div>
                        <div class="col-lg-3 p-1 xl-p-3" >
                            <div class="card  border-0 m-1">
                                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1644232795/static/images/coffee-tree_cww4qi.jpg" alt="coffee tree">
                            </div>
                            <div class="card  border-0 m-1">
                                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1644232862/static/images/coffee-bag-background_jzbtwa.jpg" alt="coffee bag with beans inside">
                            </div>
                        </div>
                        <div class="col-5 ml-4 border-0 mt-2 mb-2 text-farmers">
                            <br>
                            <h4>
                            <strong>
                                We believe that to enjoy the moment of coffee, it is always better to know that it is fair for all and the nature. 
                            </strong> 
                            </h4>
                            <p>
                                That's why our fresh coffee comes from Fairtrade-certified coffee producers. This ensures that farmers receive at least the Fairtrade minimum price for their coffee.
                                 Read more about Fair trade in the<a href="https://www.fairtrade.net/product/coffee"> official website</a> .
                            </p>
                            <p>
                                Since we also want to be fair to nature to offer you quality coffee, the production is organic and sustainable.  
                            </p>
                        </div>


                </div>
            </div>

            <div class="part-about-our-coffee pb-5">
                <div class="pl-5">
                    <div class="row h-100">
                        <div class="col-12 my-auto">
                            <h1 class="display-4 logo-font pt-5">
                                From 4 countries
                            </h1>
                        </div>
                    </div>
                </div>


                <div class="xl-container-index pt-3">
                    <div class="row no-gutters text-center country">
                        <a href="{% url 'products' %}?country=Ethiopia" class="col-lg-3 p-1 xl-p-3" >
                            <div class="card  border-0 m-1">
                                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691922/static/images/ethiopia.132d27161510.jpg" alt="flag of Ethiopia">
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">ETHIOPIA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'products' %}?country=Brazil" class="col-lg-3 p-1 xl-p-3" >
                            <div class="card  border-0 m-1">
                                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691928/static/images/brazil.0b92647c2e07.jpg" alt="flag of Brazil">
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">BRAZIL</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'products' %}?country=Togo" class="col-lg-3 p-1 xl-p-3" >
                            <div class="card  border-0 m-1">
                                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691926/static/images/togo.cbb760105655.jpg" alt="flag of Togo">
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">TOGO</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'products' %}?country=Peru" class="col-lg-3 p-1 xl-p-3" >
                            <div class="card  border-0 m-1">
                                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691923/static/images/peru.ba27c9e4e3dd.jpg" alt="flag of Peru">
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">PERU</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 mt-2 mb-2 text-farmers">
                    <br>
                    <h3>
                    <strong>
                        From around the world for your favorite taste in your cup.
                    </strong> 
                    </h3>
                    <p>
                        Our coffee comes from South America and Africa and we offer 2 different varieties, Arabica and Robusta, as well as blends of these.
                    </p>
                    <p>
                        The two varieties differ in taste and growing conditions. Arabica beans tend to have a milder, sweeter taste, with notes of sugar, fruit and berries. 
                        Robusta, on the other hand, has a stronger, harsher taste, with a grain undertone and a peanutty aftertaste. It contains twice as much caffeine as Arabica beans.
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center bg-white py-2" id="contact">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h4 class="text-uppercase text-dark-beige mb-4">
                    <strong>Coffee & Nature</strong>
                </h4>
                <p>
                    We select coffee from reliable farmers in different parts of the world to offer the best quality. 
                    Our mission is to make you have a good time enjoying coffee in your everyday life.
                </p>
                <p>
                <a href="https://www.privacypolicygenerator.info/live.php?token=ncnluLHvj1S5yMTwseqtKzko8HSNq3M4" target="_blank">Privacy Policy</a>
                </p>
            </div>
        
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h4 class="text-uppercase text-dark-beige mb-4">
                    <strong>Contact</strong>
                </h4>
                <p><i class="fas fa-home me-3 text-dark-brown"></i> 17 Favoritenstraße 1040 Vienna - Austria </p>
                <p>
                    <i class="fas fa-envelope me-3 text-dark-brown"></i>
                    coffee.nature.wien@gmail.com
                </p>
                <p><i class="fas fa-phone me-3 text-dark-brown"></i> + 43 001293847</p>
                <div>
                <p>
                    <a href="https://www.facebook.com/Coffee-Nature-107371738509283" target="_blank" rel="noopener"><i class="fab fa-facebook text-dark-brown fa-2x"></i></a> 
                </p>  
                </div>
            </div>
        </div>
        
    </footer>

</div>
{% endblock %}