html {
    height: 100%;
}

*{
    margin:0;
    padding:0;
    border:0;
}

.no-scroll-right{
    overflow-x: hidden; 
}

/* from Bulma */
.icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.shop-now-button {
    background: #65a575;
    margin-top: 30px;
    color: white;
    width: 270px;
}

.btn-dark-brown {
    background: #53413e;
    color: white;
}

.btn-dark-beige {
    background: #c68d76;
    color: white;
}

.btn-green {
    background: #65a575;
    color: white !important;
}
.btn-green:hover {
    background: #406f5c;
    color: white;
}

.btn-outline-dark-brown {
    background: white;
    color: #53413e !important;
    border: 1px solid #53413e;
}

.btn-outline-dark-beige {
    background: white;
    color: #c68d76 !important;
    border: 1px solid #c68d76;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.dark-brown:hover,
.dark-brown:active,
.dark-brown:focus {
    background: #406f5c;
    color: white;
}

.text-dark-brown {
    color: #53413e !important;
}
.text-dark-beige {
    color: #c68d76 !important;
}
.text-green {
    color: #65a575 !important;
}

.border-dark-brown {
    border: 1px solid #53413e !important;
}

.bg-dark-brown {
    background: #53413e !important;
    border: 1px solid #53413e !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.part-intro {
        background: url('https://res.cloudinary.com/dwccjr3n4/image/upload/v1644521680/Coffee-home/main-background_mobdyg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        height: calc(100vh - 150px);
    
}

.arrow-container {
    width: 100%;
    position: absolute;
    top: 85vh;
}

.arrow-down {
    border: solid #65a575;
    border-width: 0 6px 6px 0;
    width: 20px;
    padding: 20px;
    position : relative;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.part-products {
    background-size: cover;
    min-height: calc(100vh - 164px); ;
    position:relative;
}

.coffe-pot {
    width: 150px;
    position:absolute;
    top:10px;
    right: 10px;
}

.coffe-pot .coffee-liquide {
    width:90%;
    position: absolute;
    top:30px;
}

.coffe-pot .empty-pot {
    width:100%;
    position: absolute;
}

.more-products {
    position: relative;
}

.coffe-cup {
    position: absolute;
    left: 70%;
    top: 60px;
}

.coffe-cup .cup {
    width: 110px;
  
}

.coffe-cup .smoke {
    width: 50px;
    position: absolute;
    left: 17px;
    top: -50px;
}

/* for the link about our coffee size of the nav*/
#about-our-coffee {
  position: absolute;
  top: -164px;
}

.part-about-our-coffee {
    background: url('https://res.cloudinary.com/dwccjr3n4/image/upload/v1644521680/Coffee-home/main-background_mobdyg.jpg') no-repeat center center fixed;
    background-size: cover; 
    position: relative;
}

.text-farmers {
    background-color: #f3e0d9ea;
}

.country a {
    text-decoration: none;
    color: black;
}


/* ------------------------------- allauth forms */
.allauth-form input{
    border: 1px solid #53413e;
    border-radius: 0px; 
}

/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -----------------------------Index mobile version */
.mobile-index {
    background: url('https://res.cloudinary.com/dwccjr3n4/image/upload/v1644521680/Coffee-home/main-background_mobdyg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.mobile-index-about {
    background: url('https://res.cloudinary.com/dwccjr3n4/image/upload/v1644521680/Coffee-home/main-background_mobdyg.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

/* for the link about our coffee size of the nav*/
#about-our-coffee-mobile {
    position: absolute;
    top: -116px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
  .xl-container-index {
    max-width: 90%;
    margin-left: 5%;
  }
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 165px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }

    .part-intro {
        height: calc(100vh - 100px);  
}
}

@media (max-width: 379px) {
    .header-container {
        padding-top: 146px;
    }
    body {
        height: calc(100vh - 146px);
    }

    .part-intro {
        height: calc(100vh - 130px);  
    }
}

@media (max-width: 320px) {
    .arrow-container{
        display: none;
    }
}

@media (max-width: 320px) {
    .header-container {
        padding-top: 180px;
    }

    body {
        height: calc(100vh - 180px);
    }

    .part-intro {
        height: calc(100vh - 165px);  
}
    .shop-now-button {
        width: 200px;
    }
}