<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown d-lg-none">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <p class="logo-font text-dark-beige my-0"><strong>Home</strong></p>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?category=bean" class="dropdown-item">Whole Beans</a>
                <a href="{% url 'products' %}?category=ground" class="dropdown-item">Ground Coffee</a>
                <a href="{% url 'products' %}?specie=Arabica" class="dropdown-item">Arabica</a>
                <a href="{% url 'products' %}?specie=Robusta" class="dropdown-item">Robusta</a>
                <a href="{% url 'products' %}?specie=Blend" class="dropdown-item">Blend</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc"  class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=country&direction=asc"  class="dropdown-item">By Country</a>
                <a href="{% url 'products' %}?sort=strongness&direction=asc"  class="dropdown-item">By Strongness</a>
                <a href="{% url 'products' %}?sort=roast&direction=asc"  class="dropdown-item">By Roasting</a>   
            </div>
        </li>

        <li class="nav-item d-none d-lg-block">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}#about-our-coffee">
                About our coffee
            </a>
        </li>
        <li class="nav-item d-lg-none">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}#about-our-coffee-mobile">
                About our coffee
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}#contact">
                Contact
            </a>
        </li>
    </ul>
</div>