<div class="d-lg-none mobile-index">
    <div class="part-intro">
        <div class="container h-100">
            <div class="row">
                <div class="col-12 my-auto text-center ">
                    <div class="bg-white my-5">
                        <h1 class="logo-font text-dark-beige bg-white my-0"><strong>Coffee & Nature</strong></h1>
                        <h2 class="logo-font">
                            Enjoy fresh coffee!
                        </h2>
                    </div>
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 mt-1">
                            Shop Now
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <!-- arrow down -->
        <div class="arrow-container">
            <div class="arrow-down"></div>
        </div>
   </div>
</div>
<div class="d-lg-none mobile-part2">
    <div class="row">
        <div class="col-12 my-auto text-center">  
            <h2 class="logo-font mt-3 text-green ">
                Coffee inspired by NATURE
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in four_random_products %}
                    <div class="col-sm-6 col-md-6 pb-2">
                        <div class="card h-100 border-0">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="% url 'product_detail' product.id %">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="pl-5 pb-5 more-products">
        <h2 class="text-green pt-5 text-center">More products in our
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase my-auto">Shop</a>
        </h2>
    </div>
</div>


<div class="d-lg-none mobile-index-about pb-2">
    <div id="about-our-coffee-mobile"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 my-auto text-center ">
                <div class="bg-white mt-4 mb-3">
                    <h2 class="logo-font">
                        From Responsible farmers
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">          
                <div class="col-sm-6 col-md-6 pb-3 text-center">               
                    <img class="w-100 img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691221/static/images/coffee-fresh-hands2.ba928a816b0a.jpg" alt="">
                </div>
                <div class="col-sm-6 col-md-6 pb-3">              
                    <img class="h-50 img-fluid pb-1" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691215/static/images/coffee-tree.8b4d3385e68a.jpg" alt="">          
                    <img class="h-50 img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691216/static/images/coffee-bag-background.225bb6965f4d.jpg" alt="">
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 border-0 mb-2 text-farmers">
            <br>
            <h4>
            <strong>
                We believe that to enjoy the moment of coffee, it is always better to know that it is fair for all and the nature. 
            </strong> 
            </h4>
            <p>
                That's why our fresh coffee comes from Fairtrade-certified coffee producers. This ensures that farmers receive at least the Fairtrade minimum price for their coffee.
                 Read more about Fair trade in the<a href="https://www.fairtrade.net/product/coffee"> official website</a> .
            </p>
            <p>
                Since we also want to be fair to nature to offer you quality coffee, the production is organic and sustainable.  
            </p>
            <br>
        </div>



   

    <div class="container">
        <div class="row">
            <div class="col-12 my-auto text-center ">
                <div class="bg-white mt-4 mb-3">
                    <h2 class="logo-font">
                        From 4 countries
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row country">          
                <a href="{% url 'products' %}?country=Ethiopia" class="col-sm-6 col-md-6 pb-3 text-center">               
                    <div class="card  border-0 m-1">
                        <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691922/static/images/ethiopia.132d27161510.jpg" alt="">
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">ETHIOPIA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'products' %}?country=Brazil" class="col-sm-6 col-md-6 pb-3 text-center">               
                    <div class="card  border-0 m-1">
                        <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691928/static/images/brazil.0b92647c2e07.jpg" alt="">
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">BRAZIL</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'products' %}?country=Togo" class="col-sm-6 col-md-6 pb-3 text-center">               
                    <div class="card  border-0 m-1">
                        <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691926/static/images/togo.cbb760105655.jpg" alt="">
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">TOGO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'products' %}?country=Peru" class="col-sm-6 col-md-6 pb-3 text-center">               
                    <div class="card  border-0 m-1">
                        <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637691923/static/images/peru.ba27c9e4e3dd.jpg" alt="">
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">PERU</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2 mb-2 text-farmers">
        <br>
        <h3>
        <strong>
            From around the world for your favorite taste in your cup.
        </strong> 
        </h3>
        <p>
            Our coffee comes from South America and Africa and we offer 2 different varieties, Arabica and Robusta, as well as blends of these.
        </p>
        <p>
            The two varieties differ in taste and growing conditions. Arabica beans tend to have a milder, sweeter taste, with notes of sugar, fruit and berries. 
            Robusta, on the other hand, has a stronger, harsher taste, with a grain undertone and a peanutty aftertaste. It contains twice as much caffeine as Arabica beans.
        </p>
        <br>
    </div>

</div>